@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(-225deg, #AC32E4 0%, #7918f2 48%, #4801FF 100%);  
  color: white;
}
p {
  margin: 0;
}
h5 {
  font-size: 3.6rem;
  margin: 0;
  font-weight: 900;
}
h6 {
  font-size: 1.4rem;
  margin: 0 0 20px 0;
  font-weight: 400;
}

.container {
  width: 500px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

.app {
  padding:0 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app-title {
   font-size: 3rem;
   margin:  0;
   text-align: center;
}

form {
  width: 100%;
  display: flex;
  margin: 80px 0;
}
input {
  border: 0;
  border-radius: 14px 0 0 14px;
  padding: 16px 16px;
  /* flex: 1; */
  width: 100%;
  font-size: 1.2rem;
  color: #15002e;
}
input:focus {
  outline: none;
}
input::placeholder {
  opacity: 0.6;
}
button {
  border: 0;
  border-radius: 0 14px 14px 0;
  padding: 16px 32px;
  background-color: #FFBD35;
  color: #15002e;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.weather {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.weather .temp {
  text-align: center;
}
.weather .details {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.weather .details .titles {
  padding-right: 60px;
}
.weather .details .numbers {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.error {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .app-title{
    font-size: 2.5rem;
  }
  form {
    margin: 40px 0;
  }
  input {
    padding: 12px;
    font-size: 1rem;
  }
  button {
    padding: 12px;
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
  h5 {
    font-size: 3rem;
  }
  h6 {
    font-size: 1.2rem;
  }
  .weather {
    display: block;
  }
  .weather .temp {
    margin-bottom: 40px;
  }
}


@media screen and (max-width: 320px) {
  .app-title{
    font-size: 1.6rem;
  }
  form {
    margin: 40px 0;
  }
  input {
    padding: 10px 6px;
    font-size: 0.8rem;
  }
  button {
    padding: 10px 6px;
    font-size: 0.7rem;
    letter-spacing: 0px;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 0.8rem;
  }
  .weather {
    display: block;
  }
  .weather .temp {
    margin-bottom: 40px;
  }
}